$small-desktop: 1280px;
$large-desktop: 1440px;
$big-desktop: 1920px;

@mixin smallDesktop {
	@media (max-width: #{$large-desktop - 1px}) {
		@content;
	}
}

@mixin largeDesktop {
	@media (min-width: #{$large-desktop}) {
		@content;
	}
}

@mixin bigDesktop {
	@media (min-width: #{$big-desktop}) {
		@content;
	}
}
