<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.width]="'100px'">#</th>
            <th scope="col" [style.width]="'40%'">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col" [style.width]="'150px'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers">
            <th scope="row">{{ worker.id }}</th>
            <ng-container *ngIf="!editMode">
              <td>{{ worker.name }}</td>
              <td>{{ worker.surname }}</td>
            </ng-container>
            <ng-container *ngIf="editMode">
              <td><input type="text" name="editedName" [(ngModel)]="editedName" /></td>
              <td><input type="text" name="editedSurname" [(ngModel)]="editedSurname" /></td>
            </ng-container>
            <td class="actions">
              <ng-container *ngIf="!editMode">
                <button
                  class="btn btn-outline-primary btn-sm"
                  (click)="enableEditMode(worker)"
                >
                  Редактировать
                </button>
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="onDeleteWorker(worker.id)"
                >
                  Удалить
                </button>
              </ng-container>
              <ng-container *ngIf="editMode">
                <button
                  [disabled]="isButtonDisabled"
                  class="btn btn-outline-success btn-sm"
                  (click)="onEditWorker(worker)"
                >
                  Сохранить
                </button>
                <button
                  class="btn btn-outline-primary btn-sm"
                  (click)="disableEditMode()"
                >
                  Отмена
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
