<h4 class="text-center mt-5">
  Страница с рандомным текстом
</h4>

<figure class="text-center mt-3">
  <blockquote class="blockquote">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>

<ul class="list-unstyled mt-3 ml-5">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

<p class="ml-5" style="max-width: 500px">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi eos, harum, impedit ipsum itaque mollitia officia pariatur porro quae qui rem soluta velit vero, voluptatibus! Consequatur ipsum magni temporibus veniam! Ab aliquam architecto assumenda at blanditiis cupiditate deleniti, eius eum harum in ipsa iure laudantium magni natus nesciunt nobis nostrum nulla obcaecati odit officiis perferendis porro praesentium quas quibusdam quo recusandae repellat repellendus sint soluta sunt totam ullam vel veritatis vero voluptate voluptatibus, voluptatum. Architecto cum dolor error, eum eveniet fugiat fugit hic omnis perspiciatis quia sint sit voluptates voluptatum? Ea eum, ex incidunt magnam quae quod sapiente vel.
</p>
