<div class="container">
  <div class="row mb-4 mt-5 align-items-center">
    <h1 class="col-9">Список товаров</h1>
    <div class="col-3 d-flex justify-content-end">
      <input
        class="w-100"
        type="text"
        placeholder="Фильтрация по Имени и Фамилии"
        [(ngModel)]="searchString"
      />
    </div>
  </div>
  <app-table
    [products]="products"
    (deleteProduct)="onDeleteProduct($event)"
    (editProduct)="onEditProduct($event)"
    (editProductAmount)="onEditProductAmount($event)"
  ></app-table>
</div>
