.container {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.title {
	font-size: 45px;
	font-weight: 700;
}

.info {
	font-size: 20px;
	line-height: 28px;
}
